.square button{
    height: 130px;
    width: 130px;
    border: 1px solid #222222;
    cursor: pointer;
    font-size: 60px;
}

.square button:hover {
    background: #b1a5a5;
    transition: .4s all ease;
}